# Node modules
node_modules/

# Build output
dist/
out/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*

# Public config (committed to repo)
!.env.production
!.env.example
!.env.test

# tracker
guides-tracker.json
advent-of-code-tracker.json

# Docker
docker-compose.yml